@{
    ViewBag.Title = "Home Page";
}

@section heads
{
    @Styles.Render("~/Content/css/datatables")
    <style>
        table.dataTable tbody td {
            vertical-align: middle;
        }
    </style>
}
<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-large">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-12">
        <!--顯示資料-->
        <table id="main" class="display" cellspacing="0" style="width:100%">
            <thead>
                <tr>
                    <th>姓氏</th>
                    <th>明子</th>
                    <th>電話</th>
                    <th></th>
                </tr>
            </thead>
        </table>
    </div>

</div>

@section Scripts
{
  @Scripts.Render("~/bundles/datatables")

    <script>
            $(document).ready(function () {
                onSearch();
            });

            function search()
            {
                $('#main').DataTable({
                    "processing": true,
                    "serverSide": true,
                    "ajax": "../Employee/Search"
                });
            }

            function onSearch()
            {
              
                $("#main").DataTable({
                    "responsive": true,
                    "processing": true,
                    "serverSide": true,
                    "bAutoWidth": false,
                    "bDestroy": true,
                    "bInfo": true,
                    "bFilter": false,
                    "bSortable": true,
                    "orderMulti": false,
                    "bPaginate": true,
                    "bLengthChange": false,
                    "dom": "<'clear'>frtip",    //無工具列
                    "displayStart": 0,
                    "pageLength": 10,
                    "order": [[0, "asc"]],
                    "ajax": {
                        "type": "POST",
                        "url":  "../Employee/Search",                    
                        "error": function (msg) {
                            alert(msg);
                        }
                    },
                    "sServerMethod": "post",
                    "columns": [
                        { "data": "LastName" },
                        { "data": "FirstName"},
                        { "data": "HomePhone"},
                        { "data": "EmployeeID" }
                    ],
                    "createdRow": function (row, data, index) {
                        var key = data.EmployeeID;
                        // 處理姓
                        var $LastName = $("<input type='text' class='form-control' disabled='disabled' />");
                        $LastName.attr("id", "LastName_" + key);
                        $LastName.attr("value", data.LastName);
                        $("td", row).eq(0).text("").append($LastName);

                        // 處理名子
                        var $FirstName = $("<input type='text' class='form-control' disabled='disabled' />");
                        $FirstName.attr("id", "FirstName_" + key);
                        $FirstName.attr("value", data.FirstName);
                        $("td", row).eq(1).text("").append($FirstName);
                        // 處理名子
                        var $HomePhone = $("<input type='text' class='form-control' disabled='disabled' />");
                        $HomePhone.attr("id", "HomePhone_" + key);
                        $HomePhone.attr("value", data.HomePhone);
                        $("td", row).eq(2).text("").append($HomePhone);

                        // 處理 Button
                        var $edit = $("<input type='button' value='修改' class='btn btn-primary' />");
                        $edit.attr("id", "btnEdit_" + key);
                        $edit.attr("onclick", "onEdit('" + key + "')");

                        var $delete = $("<input type='button' value='刪除' class='btn btn-danger' />");
                        $delete.attr("id", "btnDelete_" + key);
                        $delete.attr("onclick", "onDelete('" + key + "')");

                        var $save = $("<input type='button' value='儲存' class='btn btn-primary' style='display: none;' />");
                        $save.attr("id", "btnSave_" + key);
                        $save.attr("onclick", "onSave('" + key + "')");

                        var $exit = $("<input type='button' value='離開' class='btn btn-dark' style='display: none;' />");
                        $exit.attr("id", "btnBack_" + key);
                        $exit.attr("onclick", "onBack('" + key + "')");

                        var $space1 = $("<span>&nbsp;</span>");
                        var $space2 = $("<span>&nbsp;</span>");
                        $("td", row).eq(3).text("").append($edit).append($space1).append($delete).append($save).append($space2).append($exit);
                    },
                    "language": {
                        "info": "目前第 _START_ - _END_ 筆 ／ 共計 _TOTAL_ 筆",
                        "infoEmpty": "0筆",
                        "zeroRecords": "查無符合條件資料",
                        "lengthMenu": "每頁顯示 _MENU_ 筆資料",
                        "infoFiltered": "(從 _MAX_ 筆資料中篩選)",
                        "paginate": {
                            "first": "第一頁",
                            "last": "最後一頁",
                            "next": "下一頁",
                            "previous": "上一頁"
                        }
                    }
                })
            }

            function toggleButton(toQuery, id) {
                if (toQuery) {
                    $("#btnEdit_" + id).show();
                    $("#btnEdit_" + id).next().show();
                    $("#btnDelete_" + id).show();

                    $("#btnSave_" + id).hide();
                    $("#btnSave_" + id).next().hide();
                    $("#btnBack_" + id).hide();
                } else {
                    $("#btnEdit_" + id).hide();
                    $("#btnEdit_" + id).next().hide();
                    $("#btnDelete_" + id).hide();

                    $("#btnSave_" + id).show();
                    $("#btnSave_" + id).next().show();
                    $("#btnBack_" + id).show();
                }
            }


    </script>
}
